:root{
--primary:#1B3C53;
--secondary:#234C6A;
--accent:#456882;
--light:#D2C1B6;
}

/* SECTION */

.experience-section{
padding:100px 20px;
background:var(--primary);
overflow:hidden;
}

.experience-container{
max-width:900px;
margin:auto;
}

/* HEADER */

.experience-header{
display:flex;
align-items:center;
gap:12px;
margin-bottom:45px;

opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

.experience-header.show{
opacity:1;
transform:translateY(0);
}

.experience-icon{
width:24px;
height:24px;
color:var(--accent);
}

.experience-title{
font-size:34px;
font-weight:700;
color:var(--light);
}

.experience-line{
flex:1;
height:1px;
background:rgba(255,255,255,0.15);
margin-left:15px;
}

/* TIMELINE */

.timeline{
position:relative;
padding-left:35px;
}

.timeline::before{
content:"";
position:absolute;
left:12px;
top:0;
bottom:0;
width:2px;
background:rgba(255,255,255,0.15);
}

/* TIMELINE ITEM */

.timeline-item{
position:relative;
margin-bottom:45px;

opacity:0;
transform:translateY(40px);
transition:all .7s ease;
}

.timeline-item.show{
opacity:1;
transform:translateY(0);
}

.timeline-dot{
position:absolute;
left:-1px;
top:8px;
width:14px;
height:14px;
border-radius:50%;
background:var(--accent);
box-shadow:0 0 0 4px rgba(69,104,130,0.25);
}

/* CARD */

.experience-card{
background:var(--secondary);
padding:25px;
border-radius:14px;
box-shadow:0 12px 30px rgba(0,0,0,0.4);
transition:all .35s ease;
}

.experience-card:hover{
transform:translateY(-6px);
box-shadow:0 20px 45px rgba(0,0,0,0.6);
}

/* TOP */

.experience-top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.company{
font-size:18px;
font-weight:700;
color:white;
}

.role{
color:var(--accent);
font-size:14px;
font-weight:500;
}

.period{
font-size:12px;
font-family:monospace;
color:var(--light);
opacity:.8;
}

/* PROJECT */

.project{
margin-top:15px;
}

.project-name{
font-weight:600;
font-size:14px;
margin-bottom:6px;
color:var(--light);
text-align:left;
}

/* BULLETS */

.project-bullets{
list-style:none;
padding:0;
margin:0 0 10px 0;
}

.project-bullets li{
font-size:14px;
color:var(--light);
opacity:.9;
display:flex;
text-align:left !important; 
gap:6px;
margin-bottom:4px;
}

.bullet{
color:var(--accent);
}

/* TECH */

.tech-stack{
display:flex;
flex-wrap:wrap;
gap:6px;
}

.tech-tag{
background:rgba(255,255,255,0.08);
padding:4px 10px;
border-radius:15px;
font-size:12px;
font-family:monospace;
color:var(--light);
transition:.3s;
}

.tech-tag:hover{
background:var(--accent);
color:white;
transform:scale(1.05);
}

/* RESPONSIVE */

@media(max-width:768px){

.experience-section{
padding:80px 18px;
}

.experience-title{
font-size:28px;
}

.experience-top{
flex-direction:column;
align-items:flex-start;
gap:6px;
}

.timeline{
padding-left:25px;
}

.timeline-dot{
left:-4px;
}

}

@media(max-width:480px){

.experience-title{
font-size:24px;
}

.experience-card{
padding:20px;
}

.project-bullets li{
font-size:13px;
}

}